{% extends "layout.html" %}
{% block body %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.user_name.label }} {{ form.user_name }}
                <br>
                {{ form.password.label }} {{ form.password }}
                <br>
                {{ form.submit }}
                <br>
            
            </form>
        </div>
        {% endblock body %}
        